*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: white;
}

#topo{
    text-align: right;
    background-color: black;
    padding: 0 107px 0 0;
}
#topo span a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color:	#9400D3;
    box-shadow: 0 4px 8px rgb(27, 27, 27);
    padding: 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
}

header img{
    height: 85px;
}

header .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
header .menu ul li{
    position: relative;
}
header .menu ul li a{
    font-size: 20px;
    padding: 13px;
    color: #DCDCDC;
    display: block;
    text-decoration: none;
}

header .menu ul li a:hover{
    background: #8A2BE2;
    color: #fff;
}

header .menu ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #8A2BE2;
    display: none;
    padding: 0;
    list-style: none;
}

header .menu ul li ul li{
    width: 100%;
    border-top: 1px solid black;
}

header .menu ul li ul li ul{
    left: 200px;
    top: 0;
}

header .menu ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    header{
        padding: 20px;
    }

    header label{
        display: block;
    }

    #menu{
        display: none;
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #9400D3;
        border-top: 1px solid #000;
        z-index: 1000;
    }

    header .menu ul{
        display: block;
        padding: 0;
    }

    header .menu ul li{
        float: none; 
        width: 100%;
    }

    header .menu ul li ul{
        position: static;
        display: none;
    }

    header .menu ul li.active{
        display: block;
    }

    header .menu ul li ul li{
        background-color: #9400D3;
    }
    header .menu ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ #menu {
        display: block;
    }

    #card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #pixi{
        display: none;
    }
}

main{
    margin-top:  20px;
}


#slider {
    width: 100%;
    height: auto;
}
#slider img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a.nivo-prevNav,
a.nivo-nextNav {
    display: none;
}

a.nivo-control {
    display:none;
}


#conteudo div{
    display: flex;
    justify-content: space-between;
}

#card{
    display: flex;
    justify-content: space-between;
}
#card div{
    margin: 0 10px;
}

#card a{
    text-decoration: none;
    color: black;
}
#card img{
    width: 200px;
    height: auto;
}

#card span{
    display: block;
    margin: 5px 60px;
    text-decoration: underline;
}


#rodape{
    top: 0; left: 0; right: 0;
    background-color:	#9400D3;
    box-shadow: 0 4px 8px rgb(27, 27, 27);
    padding: 10px 90px;
    display: block;
    text-align: center;
    font-size: 25px;
}
#rodape a{
    text-decoration: underline;
    color: whitesmoke;
}
#final{
    display: block;
    padding-top: 25px;
    text-align: center;
    color: black;
}
.conteudo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px; padding-top: 100px;
}